$white: #FFFFFF; 
$light-blue: #6ECEFF;
$dark-blue: #283843;
$dark: #23303B;
$grey: #86858B;
$light-grey: #A4A7A9;
$light-grey-2: #B4B3B1;
$dark-grey: #595a5d;
$pink: #FF7769;
$dark-green: #1F5449;
$riptide: #90D4C5;
$green:#2B7463;
