@import url(_variables.scss);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,400;9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces', serif;
  font-weight: 900px;
}

p {
  line-height: 1.5;
}

.header {
  background: url(../img/desktop/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: bottom;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5.4rem;
}

.nav__item {
  display: inline-block;
  
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.nav__item .btn {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  color: black;
  background-color: white;
  padding: 1.4rem 2.5rem;
  border-radius: 3.5rem;
  font-size: 1.4rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
